<app-loader *ngIf="IsLoading"></app-loader>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h3 class="m-0 p-0 mb-0">Orders</h3>
                        </div>
                        <div class="col-6 text-right">
                            <ng-container *ngIf="SignedInUserRole &&
                                [
                                    E_user_roles.owner,
                                    E_user_roles.sales_officer,
                                    E_user_roles.dealer
                                ].includes(SignedInUserRole)">
                                <a class="btn btn-sm btn-primary" routerLinkActive="active"
                                    [routerLink]="['/', 'panel', 'orderaddedit']">
                                    Place Order</a>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="m-0 p-4 table-responsive">
                    <table id="table_orders" datatable [dtOptions]="DataTable_Order"
                        [dtTrigger]="DataTableTrigger_Order" class="row-border hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
